[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-filter = "*"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
model-bakery = "*"
pytest-django = "*"
django-extensions = "*"

[requires]
python_version = "3.8"
